@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
header {
  height: 70px;
  width: 100%;
  padding: 0px 25px;
  background-color: rgba(8, 7, 11, 0.8705882353);
  backdrop-filter: blur(3px);
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
}
header .header-container {
  height: 15px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header-container .logo {
  height: 100%;
  display: flex;
  align-items: center;
}
header .header-container .logo a {
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
}
header .header-container .logo a span {
  color: #3793FF;
  font-family: arial;
  font-size: 1rem;
  font-weight: bold;
}
header .header-container menu {
  height: 100%;
}
header .header-container menu .hamburger {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
header .header-container menu .hamburger span {
  height: 2px;
  width: 20px;
  background-color: white;
}

@keyframes todown {
  from {
    opacity: 0.8;
  }
  to {
    top: 100%;
    opacity: 0;
  }
}
section.home {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../assets/images/text.svg) no-repeat center;
  background-size: contain;
  position: relative;
  z-index: 0;
}
section.home div.introduction {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}
section.home div.introduction h1 {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 2.5rem;
}
section.home div.introduction h1 span {
  font-size: 1.8rem;
}
section.home div.introduction p {
  width: 360px;
  font-weight: 300;
  line-height: 1.6rem;
  margin-bottom: 10px;
}
section.home div.introduction .social-links {
  width: 180px;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
section.home div.introduction .social-links a {
  height: 100%;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #212024;
  cursor: pointer;
  border-radius: 10px;
}
section.home div.introduction button {
  width: 195px;
  height: 48px;
  padding: 5px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 0.3s;
}
section.home div.introduction button:hover {
  transform: scale(1.1);
}
section.home .arrow {
  position: absolute;
  bottom: 5%;
  width: 100%;
  height: 80px;
  display: flex;
}
section.home .arrow span.one {
  width: 10px;
  height: 10px;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  transform: rotate(45deg) translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 30%;
  top: 20%;
  animation: todown 2s infinite ease-out;
}
section.home .arrow span.two {
  width: 10px;
  height: 10px;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  transform: rotate(45deg) translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 30%;
  top: 20%;
  animation: todown 2s infinite ease-out;
  animation-delay: -0.2s;
}
section.home .arrow span.three {
  width: 10px;
  height: 10px;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  transform: rotate(45deg) translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 30%;
  top: 20%;
  animation: todown 2s infinite ease-out;
  animation-delay: -0.4s;
}

section.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
section.about .background-svg {
  height: 100px;
  width: 113%;
  background: url(../assets/images/about.svg) no-repeat left;
  background-size: 380px;
}
section.about h1 {
  font-size: 2em;
  position: relative;
}
section.about h1::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 10px;
  left: 0;
  bottom: 15%;
  z-index: -1;
  background-color: #3793FF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #08070B;
  color: white;
  height: 401dvh;
  width: 100%;
}

main {
  width: 100%;
  height: 100%;
  padding: 0px 30px;
}

section {
  width: 100%;
  height: 100dvh;
}

/*# sourceMappingURL=style.css.map */
