@import "variables";

@import "mixins";

.contact{
    height: 50dvh;
    @include center;
    flex-direction: column;

    h1{
        font-size: 1.3rem;
        margin-bottom: 20px;
    }

    h2{
        font-size: 1rem;
        color: $gray-project;
        margin-bottom: 20px;
    }

    a{
        text-decoration: none;
        color: $blue-project;
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 20px;
    }

    p{
        font-size: 1.3rem;
        font-weight: 600;
        margin-bottom: 40px;
    }

    .links{
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 20px;

        .social{
            font-size: 1rem;
            text-transform: uppercase;
            color: #919489;
            transition: all 0.3s;

            &:hover{
                color: $blue-project;
            }
        }
    }
}