@import "variables";

@import "mixins";

footer{
    width: 100%;
    padding: 20px 30px;
    display: flex;
    justify-content: center;

    p{
        font-size: 10px;
        color: #919489;
        font-weight: 600;

        a{
            color: white;
            text-decoration: none;
        }
    }
}