@import "variables";
@import "mixins";

// Estilos para o rodapé
footer {
  height: 6vh;
  width: 100%;
  padding: 20px 30px;
  display: flex;
  justify-content: center;

  // Estilo do texto no rodapé
  p {
    font-size: 10px;
    color: #919489;
    font-weight: 600; 

    // Estilo para links dentro do texto
    a {
      color: white;
      text-decoration: none;
    }
  }
}