@import "variables";

@import "mixins";

header{
    height: 70px;
    width: 100%;
    padding: 0px 25px;
    background-color: #08070bde;
    backdrop-filter: blur(3px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;

    .logo{
        height: 50%;
        width: 120px;
        display: flex;

        a{  
            width: 100%;
            height: 18px;
            @include center;
            padding-top: 8px;
            text-decoration: none;
            color: white;
            font-size: 1.2rem;

            span{
                font-family: monospace;
                color: $blue-project;
                font-weight: bold;
                font-size: 1.2rem;
            }
        }
    }

    menu{
        width: 22px;
        height: 100%;
        @include center;

        .hamburger{
            width: 30px;
            height: 17px;
            border: none;
            background-color: none;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            span{
                width: 100%;
                height: 2px;
                background-color: white;
            }
        }
    }
}