@import "variables";
@import "mixins";

// Estilos para o cabeçalho fixo
header {
  height: 70px;
  width: 100%;
  padding: 0px 25px;
  background-color: #08070bde;
  backdrop-filter: blur(3px);
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;

  // Container principal do cabeçalho
  .header-container {
    height: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    // Logo do cabeçalho
    .logo {
      height: 100%;
      display: flex;
      align-items: center;

      a {
        text-decoration: none;
        color: white;
        font-size: 1.2rem;

        span {
          color: $blue-project;
          font-family: arial;
          font-size: 1rem;
          font-weight: bold;
        }
      }
    }

    // Menu do cabeçalho
    menu {
      height: 100%;
      cursor: pointer;
      z-index: 1;

      .hamburger {
        height: 100%;
        width: 100%;
        padding: 1px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;


        span {
          height: 2px;
          width: 25px;
          background-color: white;
          z-index: 1;
        }
      }
    }
  }

  .nav-list{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh; 
    background-color: $bg-body;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 130px 0;
    clip-path: circle(100px at 90% -15%); 
    pointer-events: none;
    transition: all 0.3s ease-out;
   }


   .nav-list a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.1em;
    opacity: 0;
    transition: all 0.5s;
   }

   /* Estilos ativos */

   nav.active .nav-list{
     clip-path: circle(1500px at 90% -15%);  
     pointer-events: all;
   }

   nav.active .nav-list a{
    opacity: 1;
   }
}