@import "variables";
@import "mixins";

// Estilos para dispositivos móveis (largos)
@media (max-width: 600px) {
  .projects {
    height: 160vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    scroll-margin-top: 100px;

    .background-svg {
      height: 100px;
      width: 100vw;
      overflow-x: hidden;
      background: url(../assets/images/projects.svg) no-repeat left;
      background-size: 380px;
    }

    h1 {
      font-size: 2em;
      position: relative;
      margin-bottom: 20px;
      animation: scrollanimation 5s ease-in-out;
      animation-timeline: view();
      animation-range: cover 0% cover 30%;

      &::after {
        content: "";
        position: absolute;
        width: 60px;
        height: 10px;
        left: 0;
        bottom: 15%;
        z-index: -1;
        background-color: $blue-project;
      }
    }

    .project {
      background-color: $project-bg;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 10px;
      height: 250px;
      width: 100%;
      border-radius: 20px;
      margin-bottom: 40px;
      padding: 20px 0px;
      animation: scrollanimation 5s ease-in-out;
      animation-timeline: view();
      animation-range: cover 0% cover 30%;

      p {
        text-align: center;
        font-weight: 400;
        padding: 0px 30px;
        font-size: 0.9rem;
      }

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        background: white;
        color: black;
        width: 195px;
        height: 48px;
        padding: 5px;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        text-transform: uppercase;
        font-weight: 600;
        transition: all 0.3s;
        text-decoration: none;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}

// Estilos para dispositivos menores (altura grande)
@media (max-width: 480px) {
  .projects {
    height: 130vh;
    display: flex;
    align-items: center;
    flex-direction: column;

    .background-svg {
      overflow-x: hidden;
      height: 100px;
      width: 100vw;
      background: url(../assets/images/projects.svg) no-repeat left;
      background-size: 400px;
    }

    h1 {
      font-size: 2em;
      position: relative;
      margin-bottom: 20px;

      &::after {
        content: "";
        position: absolute;
        width: 60px;
        height: 10px;
        left: 0;
        bottom: 15%;
        z-index: -1;
        background-color: $blue-project;
      }
    }

    .project {
      background-color: $project-bg;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 10px;
      height: 250px;
      width: 100%;
      border-radius: 20px;
      margin-bottom: 40px;
      padding: 20px 0px;

      p {
        text-align: center;
        font-weight: 400;
        padding: 0px 30px;
        font-size: 0.9rem;
      }

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        background: white;
        color: black;
        width: 195px;
        height: 48px;
        padding: 5px;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        text-transform: uppercase;
        font-weight: 600;
        transition: all 0.3s;
        text-decoration: none;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}

@media (max-width: 414px) {
    .projects{
      height: 125vh;
    }
  }

// Estilos para dispositivos muito estreitos
@media (max-width: 380px) {
  .projects {
    height: 165vh;
    display: flex;
    align-items: center;
    flex-direction: column;

    .background-svg {
      overflow-x: hidden;
      height: 100px;
      width: 100vw;
      background: url(../assets/images/projects.svg) no-repeat left;
      background-size: 480px;
    }

    h1 {
      font-size: 2em;
      position: relative;
      margin-bottom: 20px;

      &::after {
        content: "";
        position: absolute;
        width: 60px;
        height: 10px;
        left: 0;
        bottom: 15%;
        z-index: -1;
        background-color: $blue-project;
      }
    }

    .project {
      background-color: $project-bg;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 10px;
      height: 250px;
      width: 100%;
      border-radius: 20px;
      margin-bottom: 40px;
      padding: 20px 0px;

      p {
        text-align: center;
        font-weight: 400;
        padding: 0px 30px;
        font-size: 0.9rem;
      }

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        background: white;
        color: black;
        width: 195px;
        height: 48px;
        padding: 5px;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        text-transform: uppercase;
        font-weight: 600;
        transition: all 0.3s;
        text-decoration: none;
      }
    }
  }
}

// Ajustes para dispositivos muito pequenos
@media (max-width: 360px) {
  .projects {
    height: 150vh;

    .project {
      background-color: $project-bg;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 10px;
      height: 250px;
      width: 100%;
      border-radius: 20px;
      margin-bottom: 40px;
      padding: 20px 0px;

      p {
        text-align: center;
        font-weight: 400;
        padding: 0px 30px;
        font-size: 0.9rem;
      }

      .languages {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 5px;
        flex-wrap: wrap;
      }

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        background: white;
        color: black;
        width: 195px;
        height: 48px;
        padding: 5px;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        text-transform: uppercase;
        font-weight: 600;
        transition: all 0.3s;
        text-decoration: none;
      }
    }
  }
}